@using Microsoft.AspNetCore.Authentication.AzureADB2C.UI
@using Microsoft.Extensions.Options


<AuthorizeView>
    <Authorized>
        <a href="AzureADB2C/Account/SignOut">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="AzureADB2C/Account/SignIn">Log in</a>
    </NotAuthorized>
</AuthorizeView>
